html {
  scroll-behavior: smooth;
  margin-top: 24px;
  background-color: rgb(255, 166, 0);
}
br {
  background-color: black;
}
#title a {
  padding: 4px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: orange;
  text-decoration: none;
}
#title {
  font-size: 24px;
  font-family: monospace, sans-serif;
  border: 8px double;
  padding: 8px;
}
.nav {
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.322);
  border-radius: 16px;
  padding: 8px;
  background: linear-gradient(360deg, rgb(255, 145, 0), orange);
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}
.nav-button {
  margin-bottom: 16px;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.322);
  margin-top: 16px;
  height: 50px;
  background-color: orange;
  border: 4px black double;
  width: 300px;
}
.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.37);
}
.nav-button:active {
  background-color: rgb(214, 148, 25);
  color: black;
  font-weight: 800;
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.322);
}

.main-content {
  text-align: center;
  border: solid black 2px;
  padding: 8px;
  display: block;
  margin: 5% auto;
  max-width: 800px;
}
#intro {
  max-width: 300px;
  text-align: center;
  margin: 96px auto;
  font-family: monospace;
  font-size: 20px;
  display: block;
}
#news {
  text-align: center;
  font-weight: bold;
}
.previews {
  text-align: center;
  height: 550px;
  display: flex;
  justify-content: space-evenly;
}
#aboutmepreview {
  height: 100%;
  padding: 4px;
  width: 200px;
}
#projectspreview {
  height: 100%;
  width: 200px;
  padding: 4px;
}
#blogpreview {
  height: 100%;
  width: 200px;
  padding: 4px;
}
.divider {
  width: 2px;
  height: 100%;
  background-color: black;
}
#name {
  padding: 4px;
  text-decoration: underline;
}
#ghlogo {
  padding: 4px;
  margin: 24px auto;
  display: block;
  height: 24px;
  width: 24px;
}
footer {
  text-align: center;
}
